/* Objects in a room

door
door handle 
door keypad
mirror
sofa
sofa pillow
note under left sofa pillow
picture
note under picture
lamp
wall note 
table
aquarium
fish

*/
html {
    height: 100%;

  }

body {
    background-color: #051217;
    background-image: radial-gradient(circle, #071e26, #051217);
    /* width: 100vw;
    height: 100vh; */
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }


/***Door 
includes: handle, keypad***/

#door {
    width: 180px;
    height: 380px;
    display: fixed;
    position: absolute;
    right: 50px;
    bottom: 2px;
    border: 5px solid white;
    background-color: #051217;
    background-image: radial-gradient(circle, #071e26, #051217);
}


#handle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: #051217;
    background-image: radial-gradient(circle, #071e26, #051217);
    position: absolute;
    bottom: 50%;
    left: 5%;
}

#keypad {
    width: 25px;
    height: 40px;
    border: 2px solid white;
    position: absolute;
    bottom: 37%;
    left: 3%;
}

#input {
    width: 20px;
    height: 5px;
    border: 1px solid white;
    position: absolute;
    left: 1%;
    top: 3%;
}

.keypad {
    width: 20px;
    height: 28px;
    border: 1px solid white;
    position: absolute;
    top: 19%;
    left: 1%;

}

/* .zoom-keypad {
    zoom: 600%;
    position: absolute;
    top: 5px;
    right: 250px;
} */

#hidden-keypad {
    width: 700px;
    height: 500px;
    border: 2px solid white;
    position: absolute;
    bottom: 5%;
    left: 15%;
    opacity: 0;
    background-color: #051217;
    background-image: radial-gradient(circle, #071e26, #051217);
}
/* .active-keypad {
    width: 300px;
    height: 380px;
    border: 1px solid white;
    position: absolute;
    top: 19%;
    left: 20%;
} */

#keypad-image {
    width: 300px;
    height: 380px;
    border: 1px solid white;
    position: absolute;
    top: 19%;
    left: 20%;
}

.input-code {
    width: 210px;
    height: 38px;
    top: 8%;
    left: 21%;
    position: absolute;
}

.enter-code {
    width: 70px;
    height: 45px;
    top: 8%;
    right: 36%;
    position: absolute;
}

/***Table***/
#table-top {
    width: 100px;
    height: 10px;
    position: absolute;
    right: 270px;
    bottom: 100px;
    border: 5px solid white;
    background-color: #051217;
} 

#table-left {
    width: 10px;
    height: 90px;
    position: absolute;
    top: 10px;
    left: 0px;
    border: 5px solid white;
    background-color: #051217;
}

#table-right {
    width: 10px;
    height: 90px;
    position: absolute;
    top: 10px;
    right: 0px;
    border: 5px solid white;
    background-color: #051217;
}

#aquarium {
    width: 80px;
    height: 70px;
    /* border-radius: 50%; */
    position: absolute;
    right: 7px;
    bottom: 12px;
    border: 5px solid white;
    background-color: #051217;
}

.fish {
    width: 80px;
    height: 70px;
    position: absolute;
}


/***Notes
includes: wall***/ 
#wall-note {
    width: 100px;
    height: 100px;
    bottom: 180px;
    position: absolute;
    right: 270px;
    /* color: #051217; */
    opacity: 0;
    font: italic 15px sans-serif;
    text-align: center;
}

/***Mirror***/
#mirror {
    width: 150px;
    height: 200px;
    border-radius: 75%;
    border: 5px solid white;
    background-color: #051217;
    background-image: radial-gradient(circle, #071e26, #051217);
    bottom: 150px;
    position: absolute;
    right: 400px;
}

#mirror-inner {
    width: 120px;
    height: 170px;
    border-radius: 75%;
    border: 5px solid white;
    bottom: 5%;
    position: absolute;
    right: 6%;
    
}



.mirror {
    position: absolute;
    border-radius: 75%;
    width: 120px;
    height: 170px;
}

/* .zoom-mirror {
    zoom: 200%;
    position: absolute;
    top: 5px;
    left: 250px;
} */










/***Picture***/
#picture {
    width: 140px;
    height: 110px;
    bottom: 180px;
    border: 5px solid white;
    position: absolute;
    right: 655px;
}

.picture {
    width: 140px;
    height: 110px;
}

.picture-offset {
    left: 20%;
    position: absolute;
 
}

#picture-note {
    width: 100px;
    height: 100px;
    bottom: 180px;
    position: absolute;
    right: 628px;
    font: italic 15px sans-serif;
    text-align: center;
    
}



/***Sofa***/
#sofa-seat {
    width: 300px;
    height: 100px;
    background-color: #051217;
    background-image: radial-gradient(circle, #071e26, #051217);
    border: 5px solid white;
    position: absolute;
    bottom: 0px;
    right: 580px;
}

#sofa-frame {
    width: 300px;
    height: 100px;
    border-radius: 75%;
    background-color: #051217;
    background-image: radial-gradient(circle, #071e26, #051217);
    border: 5px solid white;
    position: absolute;
    bottom: 50px;
    right: 580px;
}

#sofa-inner-seat {
    width: 200px;
    height: 50px;
    background-color: #051217;
    background-image: radial-gradient(circle, #071e26, #051217);
    border: 2px solid white;
    position: absolute; 
    right: 15%;
}

#pillow {
    width: 55px;
    height: 55px;
    position: absolute;
    background: white;
    border: 5px solid white;
    left: 28%;
    bottom: 48%;
/* Rotate */
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    /* margin: 60px 0 10px 310px; */
}

.pillow-offset {
    right: 20px;
    top: 35px;
    position: relative;
}

#sofa-note {
    width: 50px;
    height: 17px;
    position: absolute;
    left: 19%;
    top: 3%;
    color: white;
    font: italic 15px sans-serif;
    text-align: center;
}

/***Light***/
#light-top {
    width: 50px;
    height: 0; 
    border-bottom: 50px solid white;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    right: 900px;
    bottom: 260px;
}

#light-bottom {
    width: 15px;
    height: 258px;
    background-color: #051217;
    background-image: radial-gradient(circle, #071e26, #051217);
    border: 2px solid white;
    position: absolute;
    right: 940px;
    bottom: 0px;
}

#on-off-light-rope {
    width: 5px;
    height: 150px;
    background: white;
    position: absolute;
    right: 920px;
    bottom: 110px;
} 







