<!DOCTYPE html>
<html lang="en">

<head>
    <title>Escape room</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <!-- Door -->
        <div id="door">
            <div id="handle"></div>
            <div id="keypad" onmouseover="keypadMouseOver()" onmouseout="keypadMouseOut()">
                <img class="keypad" src="static/images/keypad.png">
                <div id="input"></div>
            </div>
        </div>
        <!-- Table -->
        <!-- <div id="aquarium"></div> -->
        <div id="table-top">
            <div id="aquarium">
                <img id="fish" class="fish" src="static/images/fish_sleep.png">
            </div>
            <div id="table-left"></div>
            <div id="table-right"></div>
        </div>
      
        <!-- Notes -->
        <div id="wall-note">C A</div>
        <div id="picture-note">A V O</div>
        <!-- Mirror -->
        <div onclick="openMirror()" onmouseover="mirrorMouseOver()" onmouseout="mirrorMouseOut()" id="mirror">
            <div id="mirror-inner">
                <img class="mirror" src="static/images/mirror.png">
            </div>
        </div>
        <!-- Picture -->
        <div id="picture" onclick="movePicture()" onmouseover="pictureMouseOver()" onmouseout="pictureMouseOut()">
            <img class="picture" src="static/images/picture2.png">
        </div>
        <!-- Sofa -->
        <div id="sofa-frame"></div>
        <div id="sofa-seat">
            <div id="sofa-inner-seat"></div>
            <div id="pillow" onclick="movePillow()" onmouseover="pillowMouseOver()" onmouseout="pillowMouseOut()"></div>
            <div id="sofa-note">D O</div>
        </div>
        <!-- Light -->
        <div>
        <div id="light-top"></div>
        <div id="light-bottom"></div>
        <div id="on-off-light-rope" onclick="onOffLight()" onmouseover="lightMouseOver()" onmouseout="lightMouseOut()"></div>
    </div>

    <script src="static/js/index.js"></script>
</body>

</html>