<!DOCTYPE html>
<html lang="en">
<head>
    <title>Escape room</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="door">
        <div id="handle"></div>
        <div id="keypad">
            <div id="input"></div>
            <div id="pad"></div>
        </div>
    </div>
    <div id="wall-note">
        <p>WALL NOTE</p>
    </div>
    <div id="mirror">
        <div id="mirror-inner">
            <img class="mirror" src="static/images/mirror.png">
        </div>
    </div>
    <div id="picture">
        <img class="picture" src="static/images/picture2.png">
    </div> 
    <div id="sofa-frame"></div> 
    <div id="sofa-seat">
        <div id="sofa-inner-seat"></div>
    </div>
    <div id="light-top"></div>  
    <div id="light-bottom"></div> 
    <div id="on-off-light-rope"></div>
 

    <script src="index.js"></script>
</body>
</html>